@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Poppins:wght@400;500;700&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Mate SC", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 27px;
}

h2 {
  font-size: 22px;
}

p {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 12vh;
}
header .navbar {
  background-color: rgb(119, 108, 83);
  padding: 10px;
}
header .navbar .container-fluid {
  padding: 0px 20px;
}
header .navbar .container-fluid .navbar-brand:hover {
  color: rgb(221, 205, 172);
}
header .navbar .container-fluid .navbar-brand img {
  width: 200px;
}
header .navbar .container-fluid .collapse ul li a {
  font-size: 18px;
}
header .navbar .container-fluid .collapse ul li a:hover {
  color: rgb(221, 205, 172);
}
header .navbar .container-fluid .collapse ul li a:hover::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: rgba(240, 222, 175, 0.904);
  display: block;
  transition: all 300ms;
}
header .navbar .container-fluid .collapse ul li a:hover::after {
  width: 100%;
}

html, body {
  width: 100vw;
  min-height: 100vh;
}
html *, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html main, body main {
  background-image: url("../images/fondo_image3.jpg");
  width: 100%;
  min-height: 83vh;
  background-size: cover;
  background-repeat: repeat;
}
html main .main-title, body main .main-title {
  background-color: rgb(202, 186, 161);
  color: rgb(85, 74, 51);
  text-align: center;
  padding: 20px 0px 20px 0px;
}
html main .main-title h1, body main .main-title h1 {
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 576px) {
  html main .main-title h1, body main .main-title h1 {
    font-size: 17px;
  }
}
html main .main-title h1::after, html main .main-title h1::before, body main .main-title h1::after, body main .main-title h1::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: currentColor;
  top: 0.6em;
  transform: scale(0);
  transition: all 0.2s ease-in;
}
html main .main-title h1:hover::before, html main .main-title h1:hover::after, body main .main-title h1:hover::before, body main .main-title h1:hover::after {
  transform: scale(1);
}
html main .main-title h1::before, body main .main-title h1::before {
  left: -140px;
}
html main .main-title h1::after, body main .main-title h1::after {
  right: -140px;
}
html main #hero, body main #hero {
  text-align: center;
  align-items: center;
  background-size: cover;
  background-position: cover;
  animation: animate 14s ease infinite;
}
html main #hero .contenedor-hero, body main #hero .contenedor-hero {
  width: 100%;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 576px) {
  html main #hero .contenedor-hero, body main #hero .contenedor-hero {
    width: 100%;
  }
}
html main #hero .contenedor-hero img, body main #hero .contenedor-hero img {
  width: 420px;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
}
@media screen and (max-width: 576px) {
  html main #hero .contenedor-hero img, body main #hero .contenedor-hero img {
    width: 340px;
  }
}
html main #hero .contenedor-hero h1, body main #hero .contenedor-hero h1 {
  color: rgb(46, 38, 30);
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px whitesmoke;
  padding: 25px 0px 10px 0px;
}
@media screen and (max-width: 576px) {
  html main #hero .contenedor-hero h1, body main #hero .contenedor-hero h1 {
    font-size: 16px;
    text-align: center;
  }
}
html main #hero .contenedor-hero p, body main #hero .contenedor-hero p {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 2px black;
}
@media screen and (max-width: 576px) {
  html main #hero .contenedor-hero p, body main #hero .contenedor-hero p {
    font-size: 12px;
    text-align: center;
  }
}
@keyframes animate {
  0%, 100% {
    background-image: url("../images/BG-1.jpg");
  }
  25% {
    background-image: url("../images/BG-2.jpg");
  }
  50% {
    background-image: url("../images/BG-3.jpg");
  }
  75% {
    background-image: url("../images/BG-4.jpg");
  }
}
html main .container-nosotros, body main .container-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(77, 77, 77, 0.452);
  padding: 20px;
  margin: 50px 30px;
}
@media screen and (max-width: 576px) {
  html main .container-nosotros, body main .container-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px 15px 42px 15px;
  }
}
html main .container-nosotros img, body main .container-nosotros img {
  width: 840px;
  height: 500px;
  border-radius: 5px;
}
@media screen and (max-width: 576px) {
  html main .container-nosotros img, body main .container-nosotros img {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 5px 5px 0px 0px;
  }
}
html main .container-nosotros p, body main .container-nosotros p {
  color: white;
  font-size: 16px;
  margin: 20px;
  padding: 15px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
@media screen and (max-width: 576px) {
  html main .container-nosotros p, body main .container-nosotros p {
    font-size: 10px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
  }
}
html main .container-servicios, body main .container-servicios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(77, 77, 77, 0.452);
  padding: 30px;
  margin: 30px;
}
@media screen and (max-width: 576px) {
  html main .container-servicios, body main .container-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px 15px 42px 15px;
  }
}
html main .container-servicios .card, body main .container-servicios .card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 10px;
  padding: 10px 10px;
  text-align: center;
  transition: all 400ms ease;
}
@media screen and (max-width: 576px) {
  html main .container-servicios .card, body main .container-servicios .card {
    max-width: auto;
  }
}
html main .container-servicios .card:hover, body main .container-servicios .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
html main .container-servicios .card h2, body main .container-servicios .card h2 {
  font-size: 18px;
  margin-top: 8px;
}
html main .container-servicios .card .price, body main .container-servicios .card .price {
  color: rgb(37, 28, 17);
  font-size: 22px;
  padding: 10px 0px;
}
@media screen and (max-width: 576px) {
  html main .container-servicios .card .price, body main .container-servicios .card .price {
    font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  html main .container-servicios .card p, body main .container-servicios .card p {
    font-size: 12px;
  }
}
html main .container-ubicacion, body main .container-ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(77, 77, 77, 0.452);
  padding: 20px 15px;
  margin: 50px 30px;
  position: relative;
}
@media screen and (max-width: 576px) {
  html main .container-ubicacion, body main .container-ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
  }
}
html main .container-ubicacion iframe, body main .container-ubicacion iframe {
  padding: 30px;
  margin: 15px;
  width: 750px;
  height: 550px;
  border-radius: 5px;
}
@media screen and (max-width: 576px) {
  html main .container-ubicacion iframe, body main .container-ubicacion iframe {
    padding: 10px 10px;
    width: 330px;
    height: 330px;
  }
}
@media screen and (max-width: 576px) {
  html main .container-ubicacion ul, body main .container-ubicacion ul {
    margin: 16px;
    padding-left: 20px;
  }
}
html main .container-ubicacion ul li, body main .container-ubicacion ul li {
  color: white;
  font-size: 16px;
  margin: 4px;
  padding: 4px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 576px) {
  html main .container-ubicacion ul li, body main .container-ubicacion ul li {
    font-size: 13px;
  }
}
html main .container-contacto, body main .container-contacto {
  border-radius: 5px;
  background-color: rgba(39, 39, 39, 0.685);
  padding: 30px;
  margin: 40px 30px;
}
@media screen and (max-width: 576px) {
  html main .container-contacto, body main .container-contacto {
    margin: 20px 15px 42px 15px;
  }
}
html main .container-contacto form label, body main .container-contacto form label {
  color: white;
}
html main .container-contacto form input[type=submit], body main .container-contacto form input[type=submit] {
  background-color: rgb(134, 121, 93);
  color: white;
  text-transform: uppercase;
  padding: 12px 80px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin: 20px 0px;
}
html main .container-contacto form input[type=submit]:hover, body main .container-contacto form input[type=submit]:hover {
  background-color: rgb(187, 171, 138);
}
html main .container-contacto form input[type=text], html main .container-contacto form select, html main .container-contacto form textarea, body main .container-contacto form input[type=text], body main .container-contacto form select, body main .container-contacto form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
html main .container-contacto form input[type=number], body main .container-contacto form input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
html main .container-contacto form input[type=email], body main .container-contacto form input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
html main .container, body main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(77, 77, 77, 0.452);
  padding: 30px;
  margin: 30px auto;
  max-width: 85%;
  width: 100%;
}
@media screen and (max-width: 576px) {
  html main .container, body main .container {
    max-width: 700px;
    padding: 15px;
  }
}
html main .container .galleryContainer, body main .container .galleryContainer {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 576px) {
  html main .container .galleryContainer, body main .container .galleryContainer {
    width: 100%;
    margin: 0;
  }
}
html main .container .galleryContainer .gallery, body main .container .galleryContainer .gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 100%;
}
html main .container .galleryContainer .gallery input, body main .container .galleryContainer .gallery input {
  display: none;
}
html main .container .galleryContainer .gallery img, body main .container .galleryContainer .gallery img {
  border-radius: 8px;
}
html main .container .galleryContainer .gallery img:first-of-type, body main .container .galleryContainer .gallery img:first-of-type {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  z-index: 10;
  border-radius: 8px;
}
html main .container .galleryContainer .gallery .galleryImage, body main .container .galleryContainer .gallery .galleryImage {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.25s ease-out;
}
html main .container .galleryContainer .gallery #c1:checked + #i1, body main .container .galleryContainer .gallery #c1:checked + #i1 {
  opacity: 1;
}
html main .container .galleryContainer .gallery #c2:checked + #i2, body main .container .galleryContainer .gallery #c2:checked + #i2 {
  opacity: 1;
}
html main .container .galleryContainer .gallery #c3:checked + #i3, body main .container .galleryContainer .gallery #c3:checked + #i3 {
  opacity: 1;
}
html main .container .galleryContainer .gallery #c4:checked + #i4, body main .container .galleryContainer .gallery #c4:checked + #i4 {
  opacity: 1;
}
html main .container .galleryContainer .gallery #c5:checked + #i5, body main .container .galleryContainer .gallery #c5:checked + #i5 {
  opacity: 1;
}
html main .container .galleryContainer .gallery #c6:checked + #i6, body main .container .galleryContainer .gallery #c6:checked + #i6 {
  opacity: 1;
}
html main .container .thumbnails, body main .container .thumbnails {
  margin-top: 10px;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}
html main .container .thumbnails .thumbnailImage, body main .container .thumbnails .thumbnailImage {
  margin: 0 5px;
}
html main .container .thumbnails .thumbnailImage img, body main .container .thumbnails .thumbnailImage img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}
html main .container .thumbnails .thumbnailImage:first-child, body main .container .thumbnails .thumbnailImage:first-child {
  margin-left: 0px;
}
html main .container .thumbnails .thumbnailImage:last-child, body main .container .thumbnails .thumbnailImage:last-child {
  margin-right: 0px;
}
html .btn-whatsapp, body .btn-whatsapp {
  position: fixed;
  right: 20px;
  bottom: 25px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 400ms ease;
}
html .btn-whatsapp:hover, body .btn-whatsapp:hover {
  transform: scale(1.15);
}
html .btn-whatsapp p, body .btn-whatsapp p {
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 2px black;
}
@media screen and (max-width: 576px) {
  html .btn-whatsapp p, body .btn-whatsapp p {
    font-size: 12px;
  }
}
html .btn-whatsapp a img, body .btn-whatsapp a img {
  width: 70px;
  height: 70px;
}
@media screen and (max-width: 576px) {
  html .btn-whatsapp a img, body .btn-whatsapp a img {
    width: 55px;
    height: 55px;
  }
}

footer {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  position: fixed;
  bottom: 0px;
  background-color: rgb(119, 108, 83);
}
footer p {
  color: rgb(37, 28, 17);
  margin-bottom: 0;
}
@media screen and (max-width: 576px) {
  footer p {
    font-size: 11px;
  }
}

/*# sourceMappingURL=app.css.map */
