*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(119, 108, 83);
    padding: 12px;
}

.navbar-brand{
    color: rgb(37, 28, 17);
    font-size: 25px;
}

.container-fluid a:hover{
    color: rgb(243, 233, 212);
}

/* header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

header h1{
    color: white;
}


header ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

header ul li{
    padding: 0px 12px;
    color:white;
}

header a{
    color:white;
    text-decoration: none;
}

header a:hover {
    border-bottom: 1 px solid;
    background: rgb(134, 121, 93);
} */

#hero{
    background-image: url('../images/background_image.jpg');
    width: 100%;
    height: 811px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1{
    color: rgb(32, 29, 26);
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px whitesmoke;
}

#hero p{
    color: white;
    font-size: 22px;
    text-shadow: 1px 1px 2px black;
}

.contenedor-hero{
    background-color: rgba(172, 170, 170, 0.4);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(49, 40, 33);
    padding: 40px;
    margin: 100px auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: rgb(119, 108, 83);
}

footer p{
    color: rgb(27, 21, 13);
    margin-bottom: 0;
}

.btn-whatsapp {
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 100
}

div a img{
    width: 70px;
    height: 70px;
}

main{
    background-image: url('../images/fondo_image4.jpg');
    width: 100%;
    height: 811px;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-title{
    color: rgb(243, 233, 212);
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;

}

.container-nosotros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(172, 170, 170, 0.3);
    padding: 20px;
    margin: 50px 30px;
}

.container-nosotros img{
    width: 840px;
    height: 500px;
    border-radius: 5px;
}

.container-nosotros p{
    color: white;
    font-size: 16px;
    margin: 20px;
    padding: 15px;
    text-align: justify;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}

.main-title{
    color: rgb(243, 233, 212);
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;

}

.container-servicios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(172, 170, 170, 0.3);
    padding: 30px;
    margin: 30px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
}
  
.price {
    color: rgb(49, 40, 33);
    font-size: 22px;
}

.container-ubicacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(172, 170, 170, 0.3);
    padding: 20px;
    margin: 50px 30px;
}

.container-ubicacion iframe{
    padding: 30px;
    margin: 15px;
}

.container-ubicacion ul li{
    color: white;
    font-size: 16px;
    margin: 4px;
    padding: 4px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
}

.container-contacto {
    border-radius: 5px;
    background-color: rgba(172, 170, 170, 0.3);
    padding: 20px;
    margin: 20px 30px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

form label{
    color: white;
}

input[type=submit] {
    background-color: rgb(134, 121, 93);
    color: white;
    text-transform: uppercase;
    padding: 12px 80px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin: 20px 0px;
}

input[type=submit]:hover {
    background-color: rgb(187, 171, 138);
}

@media (max-width: 576px){
    #hero{
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #hero h1{
        color: rgb(32, 29, 26);
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px white;
        text-align: center;
    }
        
    #hero p{
        color: white;
        font-size: 12px;
        text-shadow: 1px 1px 2px black;
        text-align: center;
    }

    footer p{
        font-size: 10px;
    }

    .main-title{
        font-size: 20px;
        text-align: center;
        padding-top: 30px;
    }

    .container-nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.6);
        padding: 10px;
        margin: 20px;
    }
    
    .container-nosotros img{
        width: 100%;
        height: 310px;
        margin: 0;
        border-radius: 5px 5px 0px 0px;
    }
    
    .container-nosotros p{
        color: white;
        font-size: 10px;
        margin: auto;
        text-align: justify;
        background-color: rgba(0,0,0,0.5);
        border-radius: 0px 0px 5px 5px;
    }

    .container-ubicacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.6);
        padding: 10px;
        margin: 20px;
    }

    .container-ubicacion iframe{
        padding: 10px;
        margin: 0;
        width: auto;
        height: 400px;
    }

    .container-ubicacion ul li{
        color: white;
        font-size: 13px;

    }

    .container-servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: rgba(172, 170, 170, 0.3);
        padding: 10px;
        margin: 20px;
    }
    
    .card {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: auto;
        margin: 10px;
        padding: 10px 10px;
        text-align: center;
    }

    .card h2{
        font-size: 18px;
        margin-top: 8px;
    }

    .price {
        color: rgb(49, 40, 33);
        font-size: 13px !important;
    }

    .card p{
        font-size: 9px;
    }

    div a img{
        width: 55px;
        height: 55px;
    }
}

/* @media (min-width: 577px) and (max-width: 992px){

} */