
header{
    width: 100%;
    height: 12vh;
    .navbar{
        background-color: rgb(119, 108, 83);
        padding: 10px;
        .container-fluid{
            padding: 0px 20px;
            .navbar-brand{
                &:hover{
                    color: $color-terciario;
                }
                img{
                    width: 200px;
                }
            }
            .collapse{
                ul{
                    li{
                        a{
                            font-size: 18px;
                            &:hover{
                                color: $color-terciario;
                            }
                            &:hover::after{
                                content:"";
                                height: 3px;
                                width: 0;
                                background-color: rgba(240, 222, 175, 0.904);
                                display: block;
                                transition: all 300ms;
                            }
                            &:hover::after{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}