*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-image: url('../images/fondo_image4.jpg');
    width: 100%;
    height: 880px;
    background-size: cover;
    background-repeat: no-repeat;
    .main-title{
        color: $color-secundario;
        font-size: 30px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    #hero{
        background-image: url('../images/background_image.jpg');
        width: 100%;
        height: 880px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor-hero{
        background-color: rgba(172, 170, 170, 0.4);
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(49, 40, 33);
        padding: 40px;
        margin: 100px auto;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            color: rgb(32, 29, 26);
            font-size: 35px;
            text-transform: uppercase;
            text-shadow: 1px 1px 2px whitesmoke;
        }
        p{
            color: white;
            font-size: 22px;
            text-shadow: 1px 1px 2px black;
        }
    }
    .container-nosotros{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: rgba(172, 170, 170, 0.3);
        padding: 20px;
        margin: 50px 30px;
        img{
            width: 840px;
            height: 500px;
            border-radius: 5px;
        }
        p{
            color: white;
            font-size: 16px;
            margin: 20px;
            padding: 15px;
            text-align: justify;
            background-color: rgba(0,0,0,0.5);
            border-radius: 5px;
        }
    }
    .container-servicios{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: rgba(172, 170, 170, 0.3);
        padding: 30px;
        margin: 30px;
        .card{
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 400px;
            margin: 10px;
            padding: 10px 10px;
            text-align: center;
            .price{
                color: $color-primario;
                font-size: 22px;
            }
        }
    }
    .container-ubicacion{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: rgba(172, 170, 170, 0.3);
        padding: 20px;
        margin: 50px 30px;
        iframe{
            padding: 30px;
            margin: 15px;
        }
        ul{
            li{
                color: white;
                font-size: 16px;
                margin: 4px;
                padding: 4px;
                border-radius: 5px;
                background-color: rgba(0,0,0,0.5);
            }
        }
    }
    .container-contacto{
        border-radius: 5px;
        background-color: rgba(172, 170, 170, 0.3);
        padding: 20px;
        margin: 20px 30px;
        form{
            label{
                color: white;
            }
            input[type=submit]{
                background-color: rgb(134, 121, 93);
                color: white;
                text-transform: uppercase;
                padding: 12px 80px;
                border-radius: 4px;
                cursor: pointer;
                font-size: 18px;
                margin: 20px 0px;
                &:hover{
                    background-color: rgb(187, 171, 138);
                }
            }
            input[type=text], select, textarea{
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical
            }
        }
    }
}

.btn-whatsapp{
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 100;
    a{
        img{
            width: 70px;
            height: 70px;
        }
    }
}