
html, body{
    width: 100vw;
    min-height: 100vh;

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    main{
        background-image: url('../images/fondo_image3.jpg');
        width: 100%;
        min-height: 83vh;
        background-size: cover;
        background-repeat: repeat;
    
        .main-title{
            background-color: rgb(202, 186, 161);
            color: $color-secundario;
            text-align: center;
            padding: 20px 0px 20px 0px;
            h1{
                display: inline-block;
                position: relative;
                @include mediaquery-mobile{
                    font-size: 17px;
                }
            }
            h1::after,h1::before{
                content: '';
                position: absolute;
                width: 120px;
                height: 3px;
                background-color: currentColor;
                top:0.6em;
                transform: scale(0);
                transition: all 0.2s ease-in;    
            }
            h1:hover::before, h1:hover::after{
                transform: scale(1);
            }
            h1::before{
                left:-140px;
            }
            h1::after{
                right:-140px;
            }
        }
    
        #hero{
            text-align: center;
            align-items: center;
            background-size: cover;
            background-position: cover;
            animation: animate 14s ease infinite;
            .contenedor-hero{
                width: 100%;
                min-height: 83vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.5);
                @include mediaquery-mobile{
                    width: 100%;
                }
                img{
                    width: 420px;
                    padding-bottom: 15px;
                    @include mediaquery-mobile{
                        width: 340px;
                    }
                }
                h1{
                    color: rgb(46, 38, 30);
                    font-size: 30px;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 2px whitesmoke;
                    padding-bottom: 15px;
                    @include mediaquery-mobile{
                        font-size: 16px;
                        text-align: center;
                    }
                }
                p{
                    color: white;
                    font-size: 20px;
                    text-shadow: 1px 1px 2px black;
                    @include mediaquery-mobile{
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
            @keyframes animate{
                0%,100%{
                    background-image: url('../images/BG-1.jpg');
                }
                25%{
                    background-image: url('../images/BG-2.jpg');
                }
                50%{
                    background-image: url('../images/BG-3.jpg');
                }
                75%{
                    background-image: url('../images/BG-4.jpg');
                }
            }
        }
    
        .container-nosotros{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: rgba(77, 77, 77, 0.452);
            padding: 20px;
            margin: 50px 30px;
            @include mediaquery-mobile{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                margin: 20px 15px 42px 15px; 
            }
            img{
                width: 840px;
                height: 500px;
                border-radius: 5px;
                @include mediaquery-mobile{
                    width: 100%;
                    height: auto;
                    margin: 0;
                    border-radius: 5px 5px 0px 0px;
                }
            }
            p{
                color: white;
                font-size: 16px;
                margin: 20px;
                padding: 15px;
                text-align: justify;
                background-color: rgba(0,0,0,0.5);
                border-radius: 5px;
                @include mediaquery-mobile{
                    font-size: 10px;
                    margin: auto;
                    border-radius: 0px 0px 5px 5px;
                }
            }
        }
        .container-servicios{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: rgba(77, 77, 77, 0.452);
            padding: 30px;
            margin: 30px;
            @include mediaquery-mobile{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                margin: 20px 15px 42px 15px;
            }
            .card{
                background-color: white;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 400px;
                margin: 10px;
                padding: 10px 10px;
                text-align: center;
                transition: all 400ms ease;
                @include mediaquery-mobile{
                    max-width: auto;
                }
                &:hover{
                    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                    transform: translateY(-3%);
                }
                h2{
                    font-size: 18px;
                    margin-top: 8px;
                }
                .price{
                    color: $color-primario;
                    font-size: 22px;
                    padding: 10px 0px;
                    @include mediaquery-mobile{
                        font-size: 15px;
                    }
                }
                p{
                    @include mediaquery-mobile{
                        font-size: 12px;
                    }
                }
            }
        }
        .container-ubicacion{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: rgba(77, 77, 77, 0.452);
            padding: 20px 15px;
            margin: 50px 30px;
            position: relative;
            @include mediaquery-mobile{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                margin: 20px;
            }
            iframe{
                padding: 30px;
                margin: 15px;
                width: 750px;
                height: 550px;
                border-radius: 5px;
                @include mediaquery-mobile{
                    padding: 10px 10px;
                    width: 330px;
                    height: 330px;
                }
            }
            ul{
                @include mediaquery-mobile{
                    margin: 16px;
                    padding-left: 20px;
                }
                li{
                    color: white;
                    font-size: 16px;
                    margin: 4px;
                    padding: 4px;
                    border-radius: 5px;
                    background-color: rgba(0,0,0,0.5);
                    @include mediaquery-mobile{
                        font-size: 13px;
                    }
                }
            }
        }
        .container-contacto{
            border-radius: 5px;
            background-color: rgba(39, 39, 39, 0.685);
            padding: 30px;
            margin: 40px 30px;
            @include mediaquery-mobile{
                margin: 20px 15px 42px 15px;
            }
            form{
                label{
                    color: white;
                }
                input[type=submit]{
                    background-color: rgb(134, 121, 93);
                    color: white;
                    text-transform: uppercase;
                    padding: 12px 80px;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 18px;
                    margin: 20px 0px;
                    &:hover{
                        background-color: rgb(187, 171, 138);
                    }
                }
                input[type=text], select, textarea{
                    width: 100%;
                    padding: 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin-top: 6px;
                    margin-bottom: 16px;
                    resize: vertical;
                }
                input[type=number]{
                    width: 100%;
                    padding: 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin-top: 6px;
                    margin-bottom: 16px;
                    resize: vertical;
                }
                input[type=email]{
                    width: 100%;
                    padding: 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin-top: 6px;
                    margin-bottom: 16px;
                    resize: vertical;
                }
            }
        }
    }
    
    .btn-whatsapp{
        position: fixed;
        right: 20px;
        bottom: 25px;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            color: white;
            font-size: 16px;
            margin-bottom: 5px;
            text-shadow: 1px 1px 2px black;
            @include mediaquery-mobile{
                font-size: 12px;
            }
        }
        a{
            img{
                width: 70px;
                height: 70px;
                @include mediaquery-mobile{
                    width: 55px;
                    height: 55px;
                }
            }
        }
    }
}